<div class="container-lg">
<h3>Editar Salas</h3>
<div class="input-group mb-3" [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="room.name" name="name">
    </div>

    <div class="form-group">
      <label class="form-label" for="{date">Data</label>
      <input type="date" class="form-control" id="date" required [(ngModel)]="room.date" name="date">
    </div>

    <div class="form-group">
      <label class="form-label" for="time">Horário entrada</label>
      <input type="time" class="form-control" id="startHour" required [(ngModel)]="room.startHour" name="startHour">
    </div>

    <div class="form-group">
      <label class="form-label" for="time">Horário saída</label>
      <input type="time" class="form-control" id="endHour" required [(ngModel)]="room.endHour" name="endHour">
    </div>
    <br>
    <button type="submit" class="btn btn-lg btn-success col-12">Enviar</button>
  </form>
</div>
</div>